@model MyVkQuest5.ViewModel.LoginViewModel

<div class="col-12">

    <div id="login" class="simple-login-container card-body w-media mx-auto bg-info mt-5" style="width:22rem">
        <h2>Login</h2>
        <form method="post" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">
            <fieldset class="clearfix">
                <div asp-validation-summary="ModelOnly"></div>
                <label asp-for="Email"></label>
                <p>
                    <span class="fontawesome-user" asp-validation-for="Email"></span>
                    <input class="input-group-text bg-swap input-group" placeholder="Имя автора" type="text" asp-for="Email">
                </p>
                <label asp-for="Password"></label>
                <p>
                    <span class="fontawesome-lock" asp-validation-for="Password"></span>
                    <input class="input-group-text bg-swap input-group" placeholder="Пароль" type="password" asp-for="Password">
                </p>
                <p><input class="btn bg-white" type="submit" value="Enter"></p>
                <label asp-for="RememberMe"></label>
                <input asp-for="RememberMe" type="checkbox" />
            </fieldset>
        </form>
        <p class="text-white">Нет аккаунта?<a asp-controller="Account" asp-action="Register">Registration</a><span class="fontawesome-arrow-right"></span></p>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}