@model MyVkQuest5.ViewModel.RegisterViewModel

<div class="col-12">
    <div class="simple-login-container card-body w-media mx-auto bg-info" style="width:22rem">
        <h2>Register</h2>
        <form method="post" asp-controller="Account" asp-action="Register">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <div class="form-group">
                        <label asp-for="UserName"></label>
                        <input class="input-group-text bg-swap input-group" asp-for="UserName">
                        <span asp-validation-for="UserName"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input class="input-group-text bg-swap input-group" type="email" asp-for="Email">
                        <span asp-validation-for="Email"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <div class="form-group">
                        <label asp-for="Pass"></label>
                        <input class="input-group-text bg-swap input-group" type="password" asp-for="Pass">
                        <span asp-validation-for="Pass"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPass"></label><br />
                        <input class="input-group-text bg-swap input-group" type="password" asp-for="ConfirmPass">
                        <span asp-validation-for="ConfirmPass"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <div class="form-group">
                        <input type="submit" class="bg-white bg-swap btn" value="Register">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}